django==4.2.2
whitenoise
django-import-export
django-crispy-forms
crispy-bootstrap5
python-gettext
django-environ
djangorestframework
drf-spectacular-sidecar
drf-spectacular
djangorestframework-camel-case
docutils